*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background: black;
}
body .container{
	margin: auto;
}
.search-bar .container{
	width: 100%;
	min-height: 100vh;
	padding: 5%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.searchbar{
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}
.searchbar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24	px 20px;
	font-size: 20px;
	/* color: $cac7ff; */
}
.card-body{
	/* word-wrap: break-word; */
	overflow-wrap: break-word;
}
::placeholder{
	color: #cac7ff;
}
.searchbar button{
	width: 25px;
}
.searchbar button{
	border: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #58629b;
	cursor: pointer;
}
.wrapper{
	height: 100%;
	width: 100%;
}
.card{
	background: transparent;
}
.col-md-4{
	height: 350px;
	width: 315px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	padding: 35px;
	padding-top: 80px;
	padding-bottom: 60px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 5px 2px 0;
}
.banner-img{
	background-position: center;
	background-size: cover;
	height: 150px;
	width: 100%;
	text-align: center;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.255);
}
h5{
	font-family: "Raghteous", sans-serif;
	color: rgba(255, 255, 255, 0.98);
	/*text-transform: uppercase;*/
	font-size: 2.3rem;
}
p{
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	line-height: 100%;
	letter-spacing: 2px;
}
.button-wrapper{
	margin-top: 10px;
}
.button{
	border: none;
	height: auto;
	weight: auto;
	padding: 10px 20px;
	font-size: 12px;	
	font-size: 0.8rem;
	border-radius: 24px;
	letter-spacing: 2px;
}
.button + .button{
	margin-left: 7px;
}
.outline{
	background: transparent;
	color: rgba(0, 212, 255, 0.9);
	border: 1px solid rgba(0, 212, 255, 0.6);
	transition: all 0.3s ease;
}
.outline:hover{
	transform: scale(1.125);
	color: rgba(255, 255, 255, 0.9);
	border-color: rgba(255, 255, 255, 0.9);
	transition: all 0.3s ease;
}
.fill{
	background: rgba(0, 212, 255, 0.9);
	color: rgba(255, 255, 255, 0.95);
	filter: drop-shadow(0);
	font-weight: bold;
	transition: all 0.3s ease;
}
.fill:hover{
	transform: scale(1.125);
	border-color: rgba(255, 255, 255, 0.9);
	filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
	transition: all 0.3s ease;
}
footer *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
footer .container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
	padding: 70px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
	.footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 574px){
	.footer-col{
		width: 100%;
	}
}
